*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet Ms', sans-serif;
}
#pagina-home{
    height: 100vh;
   background-image: linear-gradient(rgb(44,40,0.514), rgb(48,42,0.5)), url(../ima);
   background-size: cover;
   background-position: center;
}